__pycache__/
*.__pycache__
*.pyc
/dist/
*.egg-info
/*.egg
/*egg-info
.vs*
*.npy
*.npz
/decoderComparisonData/*.*
decoderComparisonData*
*experiment.txt*
/rlData
*docs*
/docs
.claude
/rl-qecc-data
.superpowers
.pytest_cache
*CLAUDE*
*.png
*venv*
.venv
.pytest_cache
*.lock
*exe*




